<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Siqve_Uploader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>
    <applicationSettings>
        <Siqve_Uploader.Properties.Settings>
            <setting name="AreaShortcut" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="ScreenShortcut" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="FileShortcut" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="PictureFormat" serializeAs="String">
                <value>.png</value>
            </setting>
            <setting name="Domain" serializeAs="String">
                <value>siqve.co</value>
            </setting>
            <setting name="DomainName" serializeAs="String">
                <value>.co</value>
            </setting>
            <setting name="SizeLimit" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Host" serializeAs="String">
                <value>192.168.1.1</value>
            </setting>
            <setting name="Username" serializeAs="String">
                <value>username</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>pass</value>
            </setting>
            <setting name="SFTPPort" serializeAs="String">
                <value>22</value>
            </setting>
        </Siqve_Uploader.Properties.Settings>
    </applicationSettings>
</configuration>
